data
data/fmnist
data/kmnist
data/mnist
data/cifar10
data/svhn
models/__pycache__
utils/__pycache__
metrics/__pycache__
__pycache__
features
features/case_01
features/case_02
features/case_03
features/case_04
features/case_05
features/case_06
features/case_07
