data
data/fmnist
data/kmnist
data/mnist
data/cifar10
data/svhn
models/__pycache__
utils/__pycache__
metrics/__pycache__
__pycache__
weights_old
weights
results
features
figures
tsne
*.out
*.log
*.pth
*.zip
*.xlsx
